* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.detail-main {
    padding: 30px;
    /* width: 80vw; */
    height: 91vh;
    overflow: auto;
}

.detail-main h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.verify-data {
    margin: 20px 0px;
    padding: 30px;
    background: #F3F3F3;
    border-radius: 20px;

}

.verify-data .id {
    display: flex;

    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.verify-data .id img {
    width: 500px;
    

}

#p1 {
    margin: 20px 0px;
    font-size: 40px;
    font-weight: 400;
}

#p2 {
    font-size: 30px;
    font-weight: 400;
    margin: 20px 0px;
}


.button button {
    font-size: 30px;
    width: 20%;
    padding: 20px 30px;
    border: none;
    outline: none;
    margin: 0px 10px;
    border-radius: 20px;
    color: white;
    text-align: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#approve {
    background-color: #0F98B4;
}

#reject {
    background: #DB5050;
}

#transcript {
    width: 100%;
}

/* ----------------Responsive Design----------- */
@media screen and (max-width:1420px) {
    .verify-data .id img {
        width: 300px;
    
    
    }
    
}

@media screen and (max-width:1040px) {
    .detail-main{
        width: 100vw;
    }
    .verify-data .id img {
        width: 300px;
    }
    .verify-data .id {
        gap: 20px;
    }
    #p1 {
        width: 100%;
        text-align: left;
    }
    
    #p2 {
        width: 100%;
        text-align: left;
    }
    .button button {
        font-size: 20px;
        width: 20%;
        padding: 10px 15px;
        
    }
    

    
}
@media screen and (max-width:750px) {
    .verify-data .id {
        flex-direction: column;
    }
    .verify-data .id img {
        width: 350px;
    } 
    .verify-data .id {
        gap: 20px;
    }
    #p1 {
        width: 100%;
        text-align: left;
    }
    
    #p2 {
        width: 100%;
        text-align: left;
    }
    .button button {
        font-size: 20px;
        width: 20%;
        padding: 10px 15px;
        
    }
    

    
}
@media screen and (max-width:580px) {
    .verify-data .id {
        flex-direction: column;
    }
    #p1 {
        font-size: 30px;
        font-weight: 600;
    }
    #p2 {
        font-size: 20px;
    }
    .detail-main h1 {
        font-size: 35px;
        
    }
    .button button {
        font-size: 15px;
        width: 20%;
        padding: 7px 10px;
        
    }

    
}
@media screen and (max-width:480px) {
    .verify-data .id img {
        width: 250px;
    }
   

    
}
@media screen and (max-width:405px) {
    .verify-data .id img {
        width: 200px;
    }
    #p1 {
        font-size: 25px;
        font-weight: 600;
    }
    #p2 {
        font-size: 18px;
    }

    
}
@media screen and (max-width:400px) {
    
    .button button {
        font-size: 10px;
        width: 20%;
        padding: 7px 10px;
        
    }

    
}