@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

a {
    cursor: pointer;
}

.nav {
    background-color: #D8F1FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 0px 20px rgb(107, 102, 102);
    z-index: 10;
    /* height: 50px; */
}

.logo img {
    width: 250px;
    padding: 10px 30px;

}

.logout img {
    width: 160px;
    padding: 10px 30px;
}


.maincomp {
    display: flex;
}