* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sidebar {
    z-index: 8;
    width: 20vw;
    height: 90vh;
    background-color: #D8F1FF;
}

.headings {
    padding-top: 60px;
    /* padding-right: 30px; */
}

.flx {
    display: flex;
    height: 10vh;
    cursor: pointer;
    /* width: 250px; */
    align-items: center;
    /* justify-content: center; */
    padding: 5px 0px 0px 40px;
    /* margin-bottom: 25px; */
    gap: 15px;

}


.flx h1 {
    font-size: 25px;
}

.flx svg {
    width: 30px;



}

.flx #arrow {
    width: 13px;

}

.select {
    background-color: #1B2C3E;
    border-radius: 0px 50px 50px 0px;

}

.select h1 {
    color: white;
}

.select svg {
    fill: white;
}

.select #arrow {
    fill: white;
}

.user-category {
    display: inline-block;
}

.user-category-none {
    display: none;
}

.user-category ul li {
    list-style: none;

}

.user-category {
    color: black;
    padding: 0px 0px 10px 90px;

}

.user-panel {
    width: 90%;

}

.user-category ul li {
    padding: 3px 0px;
    font-size: 18px;
    cursor: pointer;

}

.user-category ul div {
    position: relative;
    color: #020202;
}

.round {
    color: #fff;
}

.round::before {
    content: "";
    left: -11px;
    top: 11px;
    width: 5px;
    position: absolute;
    height: 5px;
    border-radius: 50px;
    background-color: #D8F1FF;
}

.select .user-category ul div {
    color: #818A94;
}