@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;

}

.heading h1 {
    font-size: 50px;
}

.heading p {
    font-size: 20px;
    font-weight: 500;
}

.container {
    padding: 50px 30px;
    overflow: hidden;
    height: 90vh;
}

.heading {
    margin-bottom: 20px;
}

.statmain {
    padding: 25px;
    width: 350px;
    height: 150px;
    border-radius: 20px;


}

.stat h1 {
    font-size: 30px;
}

.stat p {
    font-size: 50px;
}

.stat {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 40px;


}

.statistics .stat-head {
    font-size: 50px;
    margin-bottom: 20px;
}

/* ------Color Classes------ */

.yellow {
    background: #FCCC62;
    color: white;

}

.darkblue {
    background: #1B2C3E;
    color: white;
}

.lightblue {
    background: #0F98B4;
    color: white;
}

.natural {
    background: #F3F3F3;
}